extends layout

block content
    .w3-card-4
        header.w3-container.w3-red
            h1= title
        .w3-container
            form.w3-container(action='/recursos', method='post', enctype='multipart/form-data')
                fieldset
                    legend Metadados
                    label Tipo
                    select(name='tipo', required)
                        option(value='livro') Livro
                        option(value='artigo') Artigo
                        option(value='relatorio') Relatório
                    label Titulo
                    input.w3-input.w3-round(type="text" name="titulo")
                    label Subtitulo
                    input.w3-input.w3-round(type="text" name="subtitulo")
                    label Data de Criacao
                    input.w3-input.w3-round(type="text" name="dataCriacao")
                    label Visibilidade
                    select(name='visibilidade', required)
                        option(value='publico') Publico
                        option(value='privado') Privado
                    label Autor
                    input.w3-input.w3-round(type="text" name="autor")
                    label Ficheiros
                    input(type='file', name='files', multiple)
                button.w3-btn.w3-green.w3-mb-2(type='submit') Upload
        footer.w3-container.w3-red
            address Gerado por Pedro Carneiro